

div.logo {
    height:200px;
    width:200px;
    margin:auto;
    background-color: black;
    opacity: 0.1;
    margin-top: 100px;
}

div.one-liner {
    text-align: center;
    padding: 50px 0 0 0;
}

div.get-started-btn {
    text-align: center;
    padding: 50px 0 0 0;
}

div.login-link {
    text-align: center;
    padding: 50px 0 0 0;
}