<div class="container">
    <div class="row topnav">
        <div class="col-sm-2 header-elements">
            <h5>WiCS Innovation</h5>
        </div>
        <div class="col-sm-8">
            <input type="text" placeholder="Search...">
        </div>
        <div class="col-sm-1">
            <div class="row">
                <img class="propic" align="left" src="http://web.stanford.edu/group/gtgtc/images/team/jenny.jpg"/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2 topics-menu">
            <div class="topics">
                Hot Topics
            </div>
            <div class="topics-sub">VR/AR</div>
            <div class="topics-sub">Web</div>
            <div class="topics-sub">App</div>
        </div>
        <div class="row col-sm-8 info">
            <label>Bio:</label>
            <textarea class="form-control animated" placeholder="Describe yourself to teammates!"></textarea>
            <label>Project Description:</label>
            <textarea class="form-control animated" placeholder="Prospective projects"></textarea>
            <label>Interests:</label>
            <textarea class="form-control animated" placeholder="How do you spend your time?"></textarea>
            <div class="buttons">
                <button class="cancel">CANCEL</button>
                <button class="save">SAVE</button>
            </div>
        </div>
    </div>
</div>
