<div class="container">
    <div class="row topnav">
        <div class="col-sm-2 header-elements">
            <h5>WiCS Innovation</h5>
        </div>
        <div class="col-sm-8">
            <input type="text" placeholder="Search...">
        </div>
        <div class="col-sm-1">
            <div class="row">
                <img class="propic" align="left" src="http://web.stanford.edu/group/gtgtc/images/team/jenny.jpg"/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2 topics-menu">
            <div class="topics">
                Hot Topics
            </div>
            <div class="topics-sub">VR/AR</div>
            <div class="topics-sub">Web</div>
            <div class="topics-sub">App</div>
        </div>
        <div class="row col-sm-10 cards">
            <div class="item">
                <div class="element-stack">
                    <img class="card-propic" src="http://web.stanford.edu/group/gtgtc/images/team/chloe.png"/>
                </div>
                <div class="card-info">
                    <div class="card-profile element-stack">
                        <div class="card-profile-info">
                            <h5 class="card-name">Chloe Barreau</h5>
                            <hr>
                            <h6 class="card-ama">Ask me about...</h6>
                            <div class="card-ama">chlorophyll.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="element-stack">
                    <img class="card-propic" src="https://static1.squarespace.com/static/579fe92c725e25a18556832b/t/5ae0baaa0e2e72ad6f9ef1e9/1524677291793/IMG_9902.JPG?format=750w"/>
                </div>
                <div class="card-info">
                    <div class="card-profile element-stack">
                        <div class="card-profile-info">
                            <h5 class="card-name">Megumi Sano</h5>
                            <hr>
                            <h6 class="card-ama">Ask me about...</h6>
                            <div class="card-ama">yoga.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="element-stack">
                    <img class="card-propic" src="https://scontent-lax3-1.xx.fbcdn.net/v/t1.0-9/19905423_104555503537053_7906722338683045713_n.jpg?_nc_cat=0&oh=5e48a513eae75a84e9be1e81e992868b&oe=5B94D104"/>
                </div>
                <div class="card-info">
                    <div class="card-profile element-stack">
                        <div class="card-profile-info">
                            <h5 class="card-name">Grace Kim</h5>
                            <hr>
                            <h6 class="card-ama">Ask me about...</h6>
                            <div class="card-ama">walks.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="element-stack">
                    <img class="card-propic" src="http://web.stanford.edu/group/gtgtc/images/team/jenny.jpg"/>
                </div>
                <div class="card-info">
                    <div class="card-profile element-stack">
                        <div class="card-profile-info">
                            <h5 class="card-name">Jenny Zhi</h5>
                            <hr>
                            <h6 class="card-ama">Ask me about...</h6>
                            <div class="card-ama">eating everything.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
